@font-face {
  font-family: "Nasa";
  src: url("../fonts/Nasa/Nasa.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Nasa/Nasa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Nasa/Nasa.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Nasa/Nasa.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Nasa/Nasa.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Nasa/Nasa.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Nasa/Nasa.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Ultralight.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Ultralight.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Ultralight.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Ultralight.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Ultralight.svg#SFRounded-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Bold.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Bold.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Bold.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Bold.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Bold.svg#SFRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Heavy.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Heavy.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Heavy.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Heavy.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Heavy.svg#SFRounded-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Thin.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Thin.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Thin.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Thin.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Thin.svg#SFRounded-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Black.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Black.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Black.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Black.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Black.svg#SFRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Light.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Light.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Light.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Light.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Light.svg#SFRounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Regular.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Regular.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Regular.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Regular.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Regular.svg#SFRounded-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Medium.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Medium.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Medium.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Medium.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Medium.svg#SFRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('../fonts/SFRounded/subset-SFRounded-Semibold.eot');
    src: url('../fonts/SFRounded/subset-SFRounded-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFRounded/subset-SFRounded-Semibold.woff2') format('woff2'),
        url('../fonts/SFRounded/subset-SFRounded-Semibold.woff') format('woff'),
        url('../fonts/SFRounded/subset-SFRounded-Semibold.ttf') format('truetype'),
        url('../fonts/SFRounded/subset-SFRounded-Semibold.svg#SFRounded-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-UltralightItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-UltralightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-UltralightItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-UltralightItalic.svg#SFProDisplay-UltralightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-ThinItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-ThinItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-ThinItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-ThinItalic.svg#SFProDisplay-ThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Ultralight.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Ultralight.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Medium.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-SemiboldItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-SemiboldItalic.svg#SFProDisplay-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Heavy.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Heavy.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Heavy.svg#SFProDisplay-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-LightItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-LightItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-LightItalic.svg#SFProDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-HeavyItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-HeavyItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-HeavyItalic.svg#SFProDisplay-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Bold.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Light.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Light.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-BlackItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BlackItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BlackItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BlackItalic.svg#SFProDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-BoldItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-BoldItalic.svg#SFProDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-MediumItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-MediumItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-MediumItalic.svg#SFProDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-RegularItalic.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-RegularItalic.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-RegularItalic.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-RegularItalic.svg#SFProDisplay-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Black.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Black.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Black.svg#SFProDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Semibold.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Thin.eot');
    src: url('../fonts/SFProDisplay/subset-SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Thin.ttf') format('truetype'),
        url('../fonts/SFProDisplay/subset-SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-UltralightItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-UltralightItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-UltralightItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-UltralightItalic.svg#SFProText-UltralightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Thin.eot');
    src: url('../fonts/SFProText/subset-SFProText-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Thin.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Thin.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Thin.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Thin.svg#SFProText-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-BoldItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-BoldItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-BoldItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-BoldItalic.svg#SFProText-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Heavy.eot');
    src: url('../fonts/SFProText/subset-SFProText-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Heavy.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Heavy.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Heavy.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Heavy.svg#SFProText-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Medium.eot');
    src: url('../fonts/SFProText/subset-SFProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Medium.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Medium.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Medium.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Medium.svg#SFProText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Semibold.eot');
    src: url('../fonts/SFProText/subset-SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Semibold.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Semibold.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Semibold.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Semibold.svg#SFProText-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Bold.eot');
    src: url('../fonts/SFProText/subset-SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Bold.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Bold.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Bold.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Bold.svg#SFProText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-RegularItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-RegularItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-RegularItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-RegularItalic.svg#SFProText-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Ultralight.eot');
    src: url('../fonts/SFProText/subset-SFProText-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Ultralight.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Ultralight.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Ultralight.svg#SFProText-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-BlackItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-BlackItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-BlackItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-BlackItalic.svg#SFProText-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-MediumItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-MediumItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-MediumItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-MediumItalic.svg#SFProText-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-ThinItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-ThinItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-ThinItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-ThinItalic.svg#SFProText-ThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Regular.eot');
    src: url('../fonts/SFProText/subset-SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Regular.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Regular.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Regular.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Black.eot');
    src: url('../fonts/SFProText/subset-SFProText-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Black.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Black.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Black.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Black.svg#SFProText-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-LightItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-LightItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-LightItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-LightItalic.svg#SFProText-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-HeavyItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-HeavyItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-HeavyItalic.svg#SFProText-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-SemiboldItalic.eot');
    src: url('../fonts/SFProText/subset-SFProText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-SemiboldItalic.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-SemiboldItalic.svg#SFProText-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText/subset-SFProText-Light.eot');
    src: url('../fonts/SFProText/subset-SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText/subset-SFProText-Light.woff2') format('woff2'),
        url('../fonts/SFProText/subset-SFProText-Light.woff') format('woff'),
        url('../fonts/SFProText/subset-SFProText-Light.ttf') format('truetype'),
        url('../fonts/SFProText/subset-SFProText-Light.svg#SFProText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-Medium.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Medium.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-Medium.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-Medium.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Medium.svg#NewYorkMedium-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-Heavy.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Heavy.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-Heavy.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-Heavy.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Heavy.svg#NewYorkMedium-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-RegularItalic.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-RegularItalic.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-RegularItalic.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-RegularItalic.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-RegularItalic.svg#NewYorkMedium-RegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-HeavyItalic.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-HeavyItalic.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-HeavyItalic.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-HeavyItalic.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-HeavyItalic.svg#NewYorkMedium-HeavyItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-Black.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Black.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-Black.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-Black.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Black.svg#NewYorkMedium-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-Semibold.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Semibold.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-Semibold.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-Semibold.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Semibold.svg#NewYorkMedium-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-BoldItalic.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-BoldItalic.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-BoldItalic.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-BoldItalic.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-BoldItalic.svg#NewYorkMedium-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-BlackItalic.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-BlackItalic.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-BlackItalic.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-BlackItalic.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-BlackItalic.svg#NewYorkMedium-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-Regular.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Regular.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-Regular.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-Regular.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Regular.svg#NewYorkMedium-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-MediumItalic.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-MediumItalic.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-MediumItalic.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-MediumItalic.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-MediumItalic.svg#NewYorkMedium-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-Bold.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Bold.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-Bold.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-Bold.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-Bold.svg#NewYorkMedium-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('../fonts/NewYork/subset-NewYorkMedium-SemiboldItalic.eot');
    src: url('../fonts/NewYork/subset-NewYorkMedium-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NewYork/subset-NewYorkMedium-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/NewYork/subset-NewYorkMedium-SemiboldItalic.woff') format('woff'),
        url('../fonts/NewYork/subset-NewYorkMedium-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/NewYork/subset-NewYorkMedium-SemiboldItalic.svg#NewYorkMedium-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


